.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  background: #1f1f1f;
  min-width: 0;
  min-height: 0;
}
.freeBox__ojzOi {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 960px;
  min-width: 320px;
  padding: 32px;
}
.freeBox__ojzOi > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__ojzOi > :global(.__wab_flex-container) > *,
.freeBox__ojzOi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ojzOi > :global(.__wab_flex-container) > picture > img,
.freeBox__ojzOi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.h3 {
  text-align: center;
  margin-top: calc(0px + 32px) !important;
}
.supabaseMutation:global(.__wab_instance) {
  position: relative;
}
.formContext:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__nAlHg {
  flex-direction: column;
  display: flex;
}
.freeBox__nAlHg > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__nAlHg > :global(.__wab_flex-container) > *,
.freeBox__nAlHg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nAlHg > :global(.__wab_flex-container) > picture > img,
.freeBox__nAlHg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__vqtqi {
  display: flex;
  position: relative;
}
@media (max-width: 640px) {
  .freeBox__vqtqi {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 0;
    padding: 8px;
  }
}
@media (max-width: 640px) {
  .freeBox__vqtqi > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 640px) {
  .freeBox__vqtqi > :global(.__wab_flex-container) > *,
  .freeBox__vqtqi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__vqtqi > :global(.__wab_flex-container) > picture > img,
  .freeBox__vqtqi
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.text___48ESq {
  position: relative;
  width: 128px;
  flex-shrink: 0;
  padding: 8px 12px;
}
.formTextInput__f0Hi:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.textInput__x4Moy:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
@media (max-width: 640px) {
  .textInput__x4Moy:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__qg83Q {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__r0Ah3 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__xziVb {
  display: flex;
  position: relative;
}
@media (max-width: 640px) {
  .freeBox__xziVb {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 0;
    padding: 8px;
  }
}
@media (max-width: 640px) {
  .freeBox__xziVb > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 640px) {
  .freeBox__xziVb > :global(.__wab_flex-container) > *,
  .freeBox__xziVb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xziVb > :global(.__wab_flex-container) > picture > img,
  .freeBox__xziVb
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.text__s80C4 {
  position: relative;
  width: 128px;
  flex-shrink: 0;
  padding: 8px 12px;
}
.formTextInput__x8Ip5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.textInput__gfgis:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
@media (max-width: 640px) {
  .textInput__gfgis:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__yKkW {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___3A8Xk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__g5Krs {
  display: flex;
  position: relative;
}
@media (max-width: 640px) {
  .freeBox__g5Krs {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-column-gap: 0px;
  }
}
.text___8Oro {
  position: relative;
  width: 128px;
  flex-shrink: 0;
  padding: 8px 12px;
}
.formTextInput__xhAe5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.textarea {
  width: 100%;
  min-height: 100px;
  color: #11181c;
  background: #ffffff;
  min-width: 0;
  border-radius: 6px;
  padding: 8px 12px;
  border: 1px solid #f1f3f5;
}
@media (max-width: 640px) {
  .textarea {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__rgvI {
  display: flex;
  position: relative;
  align-self: flex-end;
  justify-content: space-evenly;
  align-items: center;
}
.button__gfHyM:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__nKLuv {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__e0Fz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button___3H02E:global(.__wab_instance) {
  max-width: 100%;
}
.svg__gmE5H {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__ln0Jz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
