.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: #1f1f1f;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.freeBox__ighf9 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__ighf9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__ighf9 > :global(.__wab_flex-container) > *,
.freeBox__ighf9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ighf9 > :global(.__wab_flex-container) > picture > img,
.freeBox__ighf9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.supabaseUserLogIn:global(.__wab_instance) {
  position: relative;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.formContext:global(.__wab_instance) {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-columns: 1fr;
  grid-row-gap: 16px;
}
.freeBox__sTkF {
  flex-direction: column;
  display: flex;
  position: relative;
  background: #ffffff;
  max-width: 600px;
  width: 400px;
  border-radius: 16px;
  padding: 32px;
}
.freeBox__sTkF > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__sTkF > :global(.__wab_flex-container) > *,
.freeBox__sTkF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sTkF > :global(.__wab_flex-container) > picture > img,
.freeBox__sTkF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__ayN63 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__ayN63 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__ayN63 > :global(.__wab_flex-container) > *,
.freeBox__ayN63 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ayN63 > :global(.__wab_flex-container) > picture > img,
.freeBox__ayN63
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text {
  line-height: 1.5;
  color: #687076;
}
.h2 {
  position: relative;
  line-height: 1;
  color: #11181c;
  font-weight: 900;
  margin-top: calc(0px + 8px) !important;
}
.freeBox__ytlNo {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__ytlNo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ytlNo > :global(.__wab_flex-container) > *,
.freeBox__ytlNo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ytlNo > :global(.__wab_flex-container) > picture > img,
.freeBox__ytlNo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.formTextInput__vT5DP:global(.__wab_instance) {
  max-width: 100%;
}
.svg__vrj4N {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__j4Nr {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.formTextInput__jCJu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__rrzCj {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__qxs7F {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button:global(.__wab_instance) {
  position: relative;
  align-self: auto;
}
.svg__r6ODq {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__dsrSj {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link {
  align-self: center;
  margin-top: calc(0px + 32px) !important;
}
